<div class="top-spacer"></div>
<div class="page-wrapper code-demos-container">
  <div class="page-container">

    <div class="page-headline-content code-headline-content themed">
      <div class="angle-bracketed-content">CODE</div>
    </div>

    <div class="page-content code-page-content">
      <P>
        Please bear with me while I piece together some work samples. The najority of my career has been developing
        applications that live behind a corporate firewall; and the ones that don't live there are online banking
        applications that are accessible only by those with accounts.
      </P>
      <P>
        I've spent some time going through work samples that I do have around, and put some of them together here. In
        addition, whilie I was working for the credit union, one of my projects was to build an application for
        customers of their Cash Rewards credit card, and I happen to be one of those customers. So, I put together a
        little demo of that application. Heck, I've even started putting stuff back together from memory! There's more to come, but for now please have a look at what's here.
      </P>

      <div class="code-page-demo-links">
        <ul>
          <li>
            <a [routerLink]="['/pipes']">Custom Angular Pipes</a>
          </li>
          <li>
            <a [routerLink]="['/cc-rewards']">Credit Card Rewards Application</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="page-headline-content code-headline-content code-closing-headline-content themed">
      <div class="angle-bracketed-content">/CODE</div>
    </div>

  </div>

</div>