
.about-content-bg {
  background-repeat: no-repeat;
  background-position-y: 200px;
  background-size: contain;
  background-origin: content-box;
  opacity: .4;
}

.about-headline-content {
  padding-left: 10vw;
}

.valley-girl-image {
  margin: 15px;
  padding: 5px;
  width: 20vw;
  float: right;
  max-width: 275PX;
  height: auto;
  text-align: left;
}

.thumbs-up-image {
  max-height: 150px;
  float: right;
  margin: 15px;

}