<header id="main_menu" class="header" [hidden]="globalData.getProperty('headerHidden')">
    <div id="mainMenuBg" class="main_menu_bg navbar-fixed-top" (click)="headerClick()">
        <div class="navbar-container">
            <div class="row">
                <div class="nav_menu wow fadeInUp" data-wow-duration="1s">
                    <nav class="navbar navbar-default" id="navmenu">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button id="headerButton" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/rh-36-cabin.png" alt=""/></a>
                            </div>


                            <div class="collapse navbar-collapse" id="bs-navbar-collapse">

                                <ul class="nav navbar-nav navbar-right">
                                    <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
                                    <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
                                    <li routerLinkActive="active"><a [routerLink]="['/resume']">Resume</a></li>
                                    <li routerLinkActive="active"><a [routerLink]="['/code']"><span class="angle-bracketed-content self-closing hover-braces">Code</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>	
            </div>

        </div>

    </div>
</header> <!--End of header -->
