<section id="intro" class="page-wrapper intro-page-wrapper">
  <div class="intro-wrapper row">
    <!-- xs -->
    <div id="introHeadline"
      class="data-aos-slide-down data-aos-flip-down page-headline-content intro-headline-content themed row xxs-only">
    </div>


    <div data-aos="slide-down" id="introHeadline"
      class="data-aos-slide-down data-aos-flip-down page-headline-content intro-headline-content themed row hidden-xxs">
      <div class="text-wide-spaced-x got-code-container col-sm-12">
        <img class="got-code-image" src="../../assets/images/gotcode-secondary-shadow.png" />
      </div>
    </div>
    <div class="row">
      <div class="intro-section-two-container" data-aos="slide-right" data-aos-delay="1500"
        (click)="clickEnter('/home')">
        <div class="intro-enter-text col-md-12">
          <div class="intro-enter-text-content">
            <span class="hover-glow">ENTER!</span>
          </div>
        </div>
      </div>

      <div class="image-container">
        <div class="col-sm-12">
          <div style="width: 1278px; height: 427px;"></div>
        </div>
      </div>

    </div>
  </div>
</section>
<div class="wopr-container hidden-xxs hidden-sm">
  <div class="wopr-inner-container">
    <img src="../../assets/images/greetings-professor-falken-4.gif" class="wopr-ani" />
  </div>
</div>