.loader {
  width: 100%;
  left: 0px;
  background-image: url(../images/animated-heartbeat.gif);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
}

#pr1 {
  background-image: url(../images/coding-4-flip-1920-1080.png);
  position: absolute;
  width: 1px;
  height: 1px;
  top: -9999%;
  left: -99999%;
}

#pr2 {
  background-image: url(../images/wopr-code-1920-1080.jpg);
  position: absolute;
  width: 1px;
  height: 1px;
  top: -9999%;
  left: -99999%;
}

#pr3 { 
  background-image: url(../images/blue-grid-paper-1920-1080.jpg);
  position: absolute;
  width: 1px;
  height: 1px;
  top: -9999%;
  left: -99999%;
}