$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;


$sky-primary: #00103A; // #375e97;
$sky-primary-light: rgba(80, 117, 172, 1);
$sky-primary-dark: rgba(30, 66, 121, 1);
$sky-secondary: #3F681C;
$sky-secondary-dark: rgba(36, 65, 11, 1);
$sky-secondary-light: rgba(103, 145, 67, 1);
$sky-accent: #FFBB00;
$sky-accent-dark: rgba(48, 38, 11, 1);
$sky-accent-alt: #FB6542;
$sky-accent-alt-dark: rgba(77, 24, 13, 1);;

$bb-primary: #000b29;
$bb-primary-rgb: rgb(0, 11, 41);
$bb-primary-light: #90A0CF;
$bb-primary-light2: #3d72ed;
$bb-primary-dark: #1B3178; 
$bb-primary-dark2: #90A0CF;
$bb-primary-dark3: #283657;
$bb-secondary: #f8f5f2;
$bb-secondary-dark: #827262;
$bb-accent: #d70026;
$bb-accent-light: #ff3153;
$bb-accent-light2: #EC6758;
$bb-accent-dark: #80192a;
$bb-accent-alt: #edb83d;
$bb-accent-alt-light: #edb83d;
$bb-accent-alt-dark: #6e5b30;

$rest-left-01: 16vw;
$rest-left-02: 21.75vw;
$rest-left-03: 27.5vw;
$rest-left-04: 33.25vw;
$rest-left-05: 39vw;
$rest-left-06: 44.75vw;
$rest-left-07: 50.5vw;
$rest-left-08: 56.25vw;
$rest-left-09: 62vw;
$rest-left-10: 67.75vw;
$rest-left-11: 73.5vw;
$rest-left-12: 79.25vw;

$rest-top: -10px !important;