<object-rotator id="objectRotator" class="hidden-xxs hidden-xs"></object-rotator>
<app-header></app-header>

<section style="background-color: transparent;">
  <div id="router-outlet-container" class="router-outlet-container" style="position: relative;">
    <router-outlet></router-outlet>
  </div>
  <!-- </div> -->

</section>
<div class="static-footer-message">
  <a href="https://rob-rjs.herokuapp.com/" target="_blank" class="rob-rjs-link">ReactJS version of this site (VERY WIP!!!)</a>
</div>
<script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/jquery.easypiechart.min.js"></script>

<!-- <script src="assets/js/plugins.js"></script> -->
<script src="assets/js/main.js"></script>