@import '../../variables';
.or-container-relative {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.color-temp {
  border: 1px solid red;
}

.rotator-container {
  position: fixed;
  transition-property: top left;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  @media(max-width: 991px) {
    transform: scale(0.75);
  }
  &.r-rest {
    top: $rest-top !important;
  }
}

.rotator-object {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.r-container-1 {
  top: 0px;
  left: 20vw;
  &.r-rest {
    left: $rest-left-01;
  }
  @media(max-width: 991px) {
    opacity: 0.3;
  }
}

.r-object-1 {
  background-size: 50px 50px;
  background-image: url(../../../assets/images/internet-icons/html5.png);
}

.r-container-2 {
  top: 0px;
  left: 30vw;
  &.r-rest {
    left: $rest-left-02;
  }
}

.r-object-2 {
  background-image: url(../../../assets/images/internet-icons/angular-logo-only.png);
  background-size: 70px 65px;
}

.r-container-3 {
  top: 0px;
  left: 40vw;
  &.r-rest {
    left: $rest-left-03;
  }
}

.r-object-3 {
  background-image: url(../../../assets/images/internet-icons/bootstrap.png);
  background-size: 60px 65px;
}

.r-container-4 {
  top: 150vh;
  left: 10vw;
  transition-duration: 5s !important;
  &.r-rest {
    left: $rest-left-04;
  }
}

.r-object-4 {
  background-image: url(../../../assets/images/internet-icons/javascript.png);
  background-size: 60px 50px;
}

.r-container-5 {
  top: 200vh;
  left: -100vw;
  &.r-rest {
    left: $rest-left-05;
  }
}

.r-object-5 {
  background-image: url(../../../assets/images/internet-icons/css3.png);
  background-size: 60px 60px;
}

.r-container-6 {
  top: 0px;
  left: -100vw;
  &.r-rest {
    left: $rest-left-06;
  }
}

.r-object-6 {
  background-image: url(../../../assets/images/internet-icons/node-js.png);
  background-size: 90px 54px;
}

.r-container-7 {
  top: 0px;
  left: 200vw;
  &.r-rest {
    left: $rest-left-07;
  }
}

.r-object-7 {
  background-image: url(../../../assets/images/internet-icons/react.png);
  background-size: 60px 60px;
}

.r-container-8 {
  top: 200vh;
  left: 200vw;
  &.r-rest {
    left: $rest-left-08;
  }
}

.r-object-8 {
  background-image: url(../../../assets/images/internet-icons/visual-studio.png);
  background-size: 60px 60px;
}

.r-container-9 {
  top: 150vh;
  left: 90vw;
  transition-duration: 5s;
  &.r-rest {
    left: $rest-left-09;
  }
}

.r-object-9 {
  background-image: url(../../../assets/images/internet-icons/sql.png);
  background-size: 75px 75px;
}

.r-container-10 {
  top: 0px;
  left: 50vw;
  &.r-rest {
    left: $rest-left-10;
  }
}

.r-object-10 {
  background-image: url(../../../assets/images/internet-icons/jquery.png);
  background-size: 57px 60px;
}

.r-container-11 {
  top: 0px;
  left: 60vw;
  &.r-rest {
    left: $rest-left-11;
  }
}

.r-object-11 {
  background-image: url(../../../assets/images/internet-icons/net-logo.png);
  background-size: 60px 60px;
}

.r-container-12 {
  top: 0px;
  left: 70vw;
  &.r-rest {
    left: $rest-left-12;
  }
  @media(max-width: 991px) {
    opacity: 0.3;
  }
}

.r-object-12 {
  background-image: url(../../../assets/images/internet-icons/c-sharp2.png);
  background-size: 37.5px 50px;
}

// rest class
.r-rest {
  transition-property: transform top left;
  transform: scale(0.7, 0.7);
  top: 5px !important;
  @media(max-width: 991px) {
    transform: scale(0.5);
  }
}

.r-scroll {
  transition-property: opacity;
  transition-delay: 750ms;
  transition-duration: 1500ms;
  opacity: 0;
}

// end class
.r-end {
  transition-property: top left;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: -500000px !important;
  left: 75vw !important;
}