<div class="top-spacer"></div>


<!-- TRYING TO FIND CLASSES FOR hidden-sm, hidden-md etc. (somewhere in bootstrap) -->

<div class="page-wrapper sample-usage-container">

  <h1>Angular Custom Pipes</h1>
  <h4>(Usage demos below)</h4>
  <div class="spacer-20 xxs-only xs-only"></div>
  <!-- xxs-only xs-only -->

  <div class="xxs-only xs-only contents-columns">
    <div class="table-block-container">
      <div class="spacer-5"></div>
      <div class="row">

        <div class="col-md-4">

        </div>

        <div class="col-md-4">

          <div class="col-md-2 header-row-xxs">
            rMbGb Pipe
          </div>
          <div class="col-md-10 details-row">
            This is an extension of the native Angular decimal Pipe that converts numeric data from
            raw number to usits of Bytes (Bytes, KB, MB, GB, TB, PB -- whatever is appropriate based on the number).
          </div>
          <div class="col-md-1 details-row">
            <button class="btb btn-secondary"
              (click)="openLink('https://github.com/robharrison-ad/ngx-ripes/blob/master/src/app/pipes/rmbgb-pipe.ts')">
              Github Link
            </button>
          </div>
          <div class="col-md-1 details-row">
            <a [routerLink]="['/pipes']" fragment='rmbgb'><button class="btn btn-secondary">
                Demo Link
              </button></a>
          </div>

        </div>

        <div class="col-md-4">

          <div class="col-md-2 header-row">
            rOrderBy Pipe
          </div>
          <div class="col-md-10 details-row">
            Custom Angular pipe for sorting data - mostly usable in conjunction with <code>*ngFor</code> loops. Sorts
            any part of an array, whether it's only a single layer deep (i.e., an array of strings or integers) or if
            you need to sort an array of objects by a property that's multiple layers deep (i.e.,
            student.class.school.district, if you were sorting a list of students by school district name.)
          </div>
          <div class="col-md-1 details-row">
            <a href="https://github.com/robharrison-ad/ngx-ripes/blob/master/src/app/pipes/rOrderBy-pipe.ts"
              target="_blank"><button class="btb btn-secondary">
                Github Link
              </button></a>
          </div>
          <div class="col-md-1 details-row">
            <a [routerLink]="['/pipes']" fragment='rorderby'><button class="btn btn-secondary">
                Demo Link
              </button></a>
          </div>

        </div>
      </div>
      <div class="spacer-10"></div>
    </div>
  </div>

  <div class="xxs-gone xs-gone contents-table">
    <table class="table table-responsive">
      <thead>
        <tr>
          <td>
            What it's Called
          </td>
          <td>
            What it does
          </td>
          <td>
            Repository
          </td>
          <td>
            Demo
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            rMbGb
          </td>
          <td>
            This is an extension of the native Angular decimal Pipe that converts numeric data from
            raw number to usits of Bytes (Bytes, KB, MB, GB, TB, PB -- whatever is appropriate based on the number).
          </td>
          <td>
            <a href="https://github.com/robharrison-ad/ngx-ripes/blob/master/src/app/pipes/rmbgb-pipe.ts"
              target="_blank">Github Link</a>
          </td>
          <td>
            <a [routerLink]="['/pipes']" fragment="rmbgb">Demo Link</a>
          </td>
        </tr>
        <tr>
          <td>
            rOrderBy
          </td>
          <td>
            Custom Angular pipe for sorting data - mostly usable in conjunction with <code>*ngFor</code> loops. Sorts
            any part of an
            array, whether it's only a single layer deep (i.e., an array of strings or integers) or if you need to
            sort an array of objects by a property that's multiple layers deep (i.e., student.class.school.district,
            if
            you
            were sorting a list of students by school district name.) </td>
          <td>
            <a href="https://github.com/robharrison-ad/ngx-ripes/blob/master/src/app/pipes/rOrderBy-pipe.ts"
              target="_blank">Github Link</a>
          </td>
          <td>
            <a [routerLink]="['/pipes']" fragment="rorderby">Demo Link</a>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <div class="spacer-line-80"></div>



  <h2 id="rmbgb">rmbgb Pipe Usage and Example</h2>
  <div class="info-wrapper">
    <p>
      The table below shows various amounts of bytes, first unfiltered, then after the rMbGb pipe. The syntax for piping
      the data is as follows:
    </p>
    <code>
      <span class="div-code"> <span class="ngb"> dataUser.bytesUsed | rmbgb  </span> </span>
    </code>
    <p>Easy as that!</p>
  </div>

  <div class="table-block-container">
    <div class="row-container header-row xxs-gone xs-gone sm-gone">
      <div class="cell header-cell md-gone sm-gone lg-gone xl-gone"></div>
      <div class="cell header-cell">User ID</div>
      <div class="cell header-cell">Name</div>
      <div class="cell header-cell">Bytes Used (raw)</div>
      <div class="cell header-cell">Bytes Used (piped)</div>
    </div>
    <div class="row-container content-row" *ngFor="let dataUser of sampleUsers">
      <div class="cell"><label>User ID: </label>
        <div class="cell-text">{{ dataUser.userId }}</div>
      </div>
      <div class="cell"><label>Name: </label>
        <div class="cell-text">{{ dataUser.userInfo.lastName +  ', ' + dataUser.userInfo.firstName }}</div>
      </div>
      <div class="cell"><label>Bytes Used (raw): </label>
        <div class="cell-text">{{ dataUser.bytesUsed }}</div>
      </div>
      <div class="cell sort-property"><label>Bytes Used (converted): </label>
        <div class="cell-text">{{ dataUser.bytesUsed | rmbgb }}</div>
      </div>
    </div>
  </div>


  <!-- /* RMBGB END */ -->


  <div class="spacer-line-80"></div>

  <h1 id="rorderby">rOrderBy Pipe Usage and Example</h1>
  <p class="sub-p">
    The order by pipe can function as a standard order-by pipe (sorts data alphabetically, numerically, etc.) but
    also sorts objects and arrays of objects on any element, regardless of how deep the desired sort element is.
  </p>


  <h3>Sorting a numeric array</h3>
  <div><code> <span class="ngb">data | rOrderBy </span> </code></div>
  <br />

  <div class="table-block-container">
    <div class="row-container header-row">
      <div class="cell header-cell md-gone sm-gone lg-gone xl-gone"></div>
      <div class="cell header-cell">Sample Array</div>
        <div class="cell header-cell">Sorted Results</div>
      </div>
      <div class="row-container content-row">
        <div class="cell"><label>Sample Array: </label>
          <div class="cell-text">
            <pre>[ {{ testNumberArray }} ]</pre>
          </div>
        </div>
        <div class="cell"><label>Sorted Results: </label>

          <pre>[ {{ testNumberArray | rOrderBy }} ]</pre>

        </div>
      </div>
    </div>
    <div class="spacer-10"></div>
    <div>(easy, schmeazy!) <img src="../../../assets/images/emoticon-smiley-regular.png" align="left"
        class="emoticon" />
    </div>
    <br />








  <h2>Sort an array of objects</h2>

  <div class="info-wrapper">
    <h3>
      sorting by userId
    </h3>
    <p>
      For this one, we will use an expanded dataset from the "projects" data. (All of the raw data can be seen <a
        href="#rawData">below</a>.)
    </p>
    <code>
      <span class="div-code"><span class="ngb"> *ngFor="let user of users | rOrderBy:'userId'" </span></span>
  </code><br />
  </div>



  <div class="table-block-container">
    <div class="row-container header-row xxs-gone xs-gone sm-gone">
      <div class="cell header-cell md-gone sm-gone lg-gone xl-gone"></div>
      <div class="cell header-cell sort-property">User ID</div>
      <div class="cell header-cell">first Name</div>
      <div class="cell header-cell">Last Name</div>
      <div class="cell header-cell">Date Hired</div>
      <div class="cell header-cell">Deparetment Number</div>
      <div class="cell header-cell">Manager Last Name:</div>
      <div class="cell header-cell">Manager First Name:</div>
      <div class="cell header-cell">Data Usage</div>
    </div>
    <div class="row-container content-row" *ngFor="let user of sampleUsers | rOrderBy:'userId'">
      <div class="cell sort-property"><label>User ID: </label>
        <div class="cell-text">{{ user.userId }}</div>
      </div>
      <div class="cell"><label>First Name: </label>
        <div class="cell-text">{{ user.userInfo.firstName }}</div>
      </div>
      <div class="cell"><label>Last Name: </label>
        <div class="cell-text">{{ user.userInfo.lastName }}</div>
      </div>
      <div class="cell"><label>Date Hired: </label>
        <div class="cell-text">{{user.userInfo.hireDate}}</div>
      </div>
      <div class="cell"><label>Department Number: </label>
        <div class="cell-text">{{user.userInfo.departmentInfo.departmentNumber}}</div>
      </div>
      <div class="cell"><label>Manager Last Name: </label>
        <div class="cell-text">{{user.userInfo.departmentInfo.departmentManager.lastName}}</div>
      </div>
      <div class="cell"><label>Manager First Name: </label>
        <div class="cell-text">{{user.userInfo.departmentInfo.departmentManager.firstName}}</div>
      </div>
      <div class="cell"><label>Data Usage: </label>
        <div class="cell-text">{{ user.bytesUsed | rmbgb }}</div>
      </div>
    </div>
  </div>

  <div class="spacer-50"></div>


  <div class="info-wrapper">

    <h3>
      sorting by Hire Date (two levels deep)
    </h3>
    <code>
        <span class="div-code"><span class="ngb"> *ngFor="let user of users | rOrderBy:'userInfo.hireDate'"</span></span>
    </code>
  </div>

  <div class="table-block-container">
    <div class="row-container header-row xxs-gone xs-gone sm-gone">
      <div class="cell header-cell md-gone sm-gone lg-gone xl-gone"></div>
      <div class="cell header-cell sort-property">User ID</div>
      <div class="cell header-cell">first Name</div>
      <div class="cell header-cell">Last Name</div>
      <div class="cell header-cell">Date Hired</div>
      <div class="cell header-cell">Deparetment Number</div>
      <div class="cell header-cell">Manager Last Name:</div>
      <div class="cell header-cell">Manager First Name:</div>
      <div class="cell header-cell">Data Usage</div>
    </div>
    <div class="row-container content-row" *ngFor="let user of sampleUsers | rOrderBy:'userInfo.hireDate'">
      <div class="cell"><label>User ID: </label>
        <div class="cell-text">{{ user.userId }}</div>
      </div>
      <div class="cell"><label>First Name: </label>
        <div class="cell-text">{{ user.userInfo.firstName }}</div>
      </div>
      <div class="cell"><label>Last Name: </label>
        <div class="cell-text">{{ user.userInfo.lastName }}</div>
      </div>
      <div class="cell sort-property"><label>Date Hired: </label>
        <div class="cell-text">{{user.userInfo.hireDate}}</div>
      </div>
      <div class="cell"><label>Department Number: </label>
        <div class="cell-text">{{user.userInfo.departmentInfo.departmentNumber}}</div>
      </div>
      <div class="cell"><label>Manager Last Name: </label>
        <div class="cell-text">{{user.userInfo.departmentInfo.departmentManager.lastName}}</div>
      </div>
      <div class="cell"><label>Manager First Name: </label>
        <div class="cell-text">{{user.userInfo.departmentInfo.departmentManager.firstName}}</div>
      </div>
      <div class="cell"><label>Data Usage: </label>
        <div class="cell-text">{{ user.bytesUsed | rmbgb }}</div>
      </div>
    </div>
  </div>





  <!-- <table class="xxs-gone table table-bordered table-striped table-hover OrderBy-sample-results-table table-fixed"
    id="r-sample-results-table">
    <thead id="OrderBy-sample-results-table-header" class="table-head-fixed">
      <tr>
        <td>
          Employee #
        </td>
        <td>
          First Name
        </td>
        <td>
          Last Name
        </td>
        <td>
          Date Hired
        </td>
        <td>
          Dept. #
        </td>
        <td>
          Manager Last Name
        </td>
        <td>
          Manager First Name
        </td>
        <td>
          Data Usage
        </td>
      </tr>
    </thead>
    <tbody id="OrderBy-sample-results-table-body" class=" table-body-fixed">
      <tr *ngFor="let user of sampleUsers | rOrderBy:'userInfo.lastName'">
        <td>
          {{user.userId}}
        </td>
        <td>
          {{user.userInfo.firstName}}
        </td>
        <td>
          {{user.userInfo.lastName}}
        </td>
        <td>
          {{user.userInfo.hireDate}}
        </td>
        <td>
          {{user.userInfo.departmentInfo.departmentNumber}}
        </td>
        <td>
          {{user.userInfo.departmentInfo.departmentManager.lastName}}
        </td>
        <td>
          {{user.userInfo.departmentInfo.departmentManager.firstName}}
        </td>
        <td>
          {{user.bytesUsed | rmbgb }}
        </td>
      </tr>
    </tbody>
  </table> -->


  <div class="info-wrapper">
    <h3>
      sorting by Manager First Name (Four levels deep)
    </h3>
    <code>
  <span class="div-code">
  <span class="ngb"> *ngFor="let user of users | rOrderBy:'userInfo.departmentInfo.departmentManager.firstName'"
  </span>
  </span>
  </code>
  </div>
  <!-- <table class="xxs-gone table table-bordered table-striped table-hover OrderBy-sample-results-table table-fixed"
    id="r-sample-results-table">
    <thead id="OrderBy-sample-results-table-header" class="table-head-fixed">
      <tr>
        <td>
          Employee #
        </td>
        <td>
          First Name
        </td>
        <td>
          Last Name
        </td>
        <td>
          Date Hired
        </td>
        <td>
          Dept. #
        </td>
        <td>
          Manager Last Name
        </td>
        <td>
          Manager First Name
        </td>
        <td>
          Data Usage
        </td>
      </tr>
    </thead>
    <tbody id="OrderBy-sample-results-table-body" class=" table-body-fixed">
      <tr *ngFor="let user of sampleUsers | rOrderBy:'userInfo.departmentInfo.departmentManager.firstName'">
        <td>
          {{user.userId}}
        </td>
        <td>
          {{user.userInfo.firstName}}
        </td>
        <td>
          {{user.userInfo.lastName}}
        </td>
        <td>
          {{user.userInfo.hireDate}}
        </td>
        <td>
          {{user.userInfo.departmentInfo.departmentNumber}}
        </td>
        <td>
          {{user.userInfo.departmentInfo.departmentManager.lastName}}
        </td>
        <td>
          {{user.userInfo.departmentInfo.departmentManager.firstName}}
        </td>
        <td>
          {{user.bytesUsed | rmbgb }}
        </td>
      </tr>
    </tbody>
  </table> -->


</div>