<div class="page-wrapper error-404-page-wrapper">
  <div class="error-404-page-content">
    <div class="page-not-found flamboyant-text-shadow">PAGE NOT FOUND!</div>
    <div>
    </div>
    <div id="errBtnCtr" class="bottom-quarter home-button-container"  (click)="homeClick()">
      <button (click)="homeClick()" id="homeBtn" class="home-button-404 flamboyant-box-shadow thick">TAKE ME HOME!</button>
      <div class="pacman-container move" id="pacman">
        <div class="pacman">
          <div class="pacman-top"></div>
          <div class="pacman-bottom"></div>
        </div>
        
      </div>
    </div>
  </div>