<section id="homePage" class="page-wrapper page-out">
    <div class="top-spacer"></div>
    <div class="container-fullwidth home-page-container">
        <div class="text-center">
            <div class="page-headline home-headline">
                <!-- <div style="height:150px;"></div> -->

                <div id="homeHeadline"  data-aos="flip-down" class="page-headline-content home-headline-content themed row">
                    <div class="col">
                        Application Developer
                    </div>
                </div>
            </div>

            <div data-aos="slide-right" data-aos-offset="-250" data-aos-duration="1000" data-aos-mirror="true" class="page-subheadline-content home-subheadline-content themed r-shadow row">
                <div class="col">
                    Over a decade of <span data-aos="slide-left"  class="accented">professional experience</span> designing and developiong
                    <span class="accented r-shadow">custom web applications.</span>
                </div>
            </div>

            <div class="page-main home-page-main">

                <!-- <div class="show-me-the-code-link">
                    <a [routerLink]="['/code']">Just show me the code!</a>
                </div> -->

                <!-- <rotator-object.component></rotator-object.component> -->

                <!-- <div class="circles-container-anchor">
                    <div id="animationBoundary" class="circles-container">
                        <app-ani-circle *ngFor="let item of techItems; let idx = index" [idx]="idx"
                            [park-class]="item.parkClass" [park-time]="(item.parkTime + (idx * 100))"
                            [front-image]="item.image" [back-image]="item.backImage" [duration]="item.duration"
                            [delay]="item.delay" [start-x]="item.startX" [start-y]="item.startY"
                            [grid-row]="item.gridRow" [grid-col]="item.gridCol" [main-text]="item.text"
                            [grid-center]="true" [back-text]="item.subText" [mouse-event]="mouseFn">
                        </app-ani-circle>
                    </div>
                </div>
            -->
           
            </div>

        </div>

    </div>
</section>