<footer class="inner-footer" id="coppyrights" class="coppyrights">
  <div class="container-fluid">
    <div class="row">
      <div id="rn-footer-inner-container" class="coppyright">
        <div class="row">
          <div class="col-sm-4 rn-footer-copyright">
            <div class="rn-footer-copyright-content">
              &copy; Rob Harrison 2019 
            </div>
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </div>
  </div>
</footer>